<!DOCTYPE html>

<html>

<head>
    <title>Welcome</title>
    <style>
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 70px;
        }

        h3 {
            text-align: center;
            font-family: Roboto;
            font-size: 32px;
            color: #394141;
        }

        .p1 {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-family: Roboto;
            font-size: 20px;
            color: #394141;
        }

        .p2 {
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            font-family: Roboto;
            font-size: 20px;
            color: #394141;
        }

        .Button {
            background-color: #a72631;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <img src="https://savetime-image.s3.amazonaws.com/logo%20horizontal-e2a04889-62a4-4ad1-b8b5-c42348d208c0.png"
        alt="saveTime logo" height="113" style="background: #ffffff" class="center">
    <div style="padding: 0.5%;">
        <p class="p2">
            Hola <b>
                <%= clientName%>
            </b>,
        </p>

        <p class="p2">
            Tu cita ha sido cancelada desde el centro <b>
                <%= centerName%>
            </b> El dia <b>
                <%= Date%>
            </b> a <b>
                <%= time%>
            </b> hs por la siguiente raz贸n:
            <b>
                <%= Reason%>
            </b>
            Le sugerimos que solicite una nueva cita a trav茅s de Savetime.
        </p>

        <p class="p2">
            <br>Saludos,<br>
            El equipo de <b>Savetime</b>.
        </p>

        <p class="p2" style="color:blue;">soporte@savetime.es</p>

        <img src="https://savetime-image.s3.eu-west-3.amazonaws.com/Screenshot%20from%202021-05-21%2016-09-36-063d472b-8f1f-4034-b990-7a682743b42c.png"
            alt="saveTime detail" height="120" style="background: #ffffff;margin-left: auto;margin-top: 25px;">


        <p class="p2" style="font-size: 14px;">
             Advertencia: este mensaje y los documentos adjuntos son solo para la persona a la que se dirige este
            correo electr贸nico. Si ha recibido este mensaje por error, le agradecer铆amos que lo elimine inmediatamente
            de su sistema, destruya todas las copias de su disco duro y notifique al remitente.
        </p>

        <p class="p2" style="font-size: 14px;">
            De acuerdo con la ley 15/2003 calificada de protecci贸n de datos de car谩cter personal, le informamos que sus
            datos pueden ser recogidos e incorporados al fichero "Usuarios Ahorran Tiempo" en el registro p煤blico
            "Incripcio de Fitxers" de la Agencia Andorrana de Protecci贸n de Datos.
        </p>
</body>

</html>